<% provide(:title,'') %>

<body class="h-full">
<main class=" bg-gray-900 w-full max-w-full h-full m-0 p-0 flex flex-col justify-center">

  <hgroup class="mx-auto">
    <h1 class="text-gray-100" >Life on Peaceful</h1>
    <h2 class="text-gray-300">A personnal blog | pet-project | life experiment</h2>
  </hgroup>

  <header class="w-full max-w-md mx-auto mb-48 text-lg">
    <nav class="w-full z-10 text-left">
      <ul class="px-6 flex justify-between flex-row">

        <li class="py-2 list-none inline-block">
          <%= link_to "Posts", posts_path,
                      class: "hover-underline-animation text-gray-300 hover:text-gray-100 font-semibold no-underline py-3 lg:py-2 leading-none" %>
        </li>

        <li class="py-2 list-none inline-block">
          <%= link_to "Quotes", quotes_path,
                      class: "hover-underline-animation text-gray-300 hover:text-gray-100 font-semibold no-underline py-3 lg:py-2 leading-none" %>
        </li>

        <li class="py-2 list-none inline-block">
          <%= link_to "Resources", resources_path,
                      class: "hover-underline-animation text-gray-300 hover:text-gray-100 font-semibold no-underline py-3 lg:py-2 leading-none" %>
        </li>

        <li class="py-2 list-none inline-block">
          <%= link_to "Resume", about_path,
                      class: "hover-underline-animation text-gray-300 hover:text-gray-100 font-semibold no-underline py-3 lg:py-2 leading-none" %>
        </li>

        <li class="fixed top-0 right-0 list-none ">
          <% if logged_in? %>

            <%= link_to "Log out", logout_path, method: :delete,
                        class: "text-blue-900 opacity-50 no-underline bg-gray-200 rounded-bl-lg
                    pl-4 pr-3 pt-2 pb-3 font-semibold hover:opacity-100 hover:underline shadow" %>
          <% else %>
            <%= link_to "Private access", login_path,
                        class: "text-transparent no-underline hover:bg-gray-700 rounded-bl-lg
                    pl-4 pr-3 pt-2 pb-3 hover:text-gray-100 font-semibold" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>

</main>
</body>