<% provide(:title, '') %>

<body class="w-screen h-screen flex flex-col justify-center px-4 bg-gray-900"
      style="background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(190,227,248,1) 100%);">
<% flash.each do |message_type, message| %>
  <% case message_type
     when 'danger' then
       color = 'red'
     when 'success' then
       color = 'green'
     else
       color = 'yellow'
     end %>

  <!--  css classes for purgecss -->
  <!--  bg-red-100 text-red-600 border-red-300 -->
  <!--  bg-green-100 text-green-600 border-green-300 -->
  <!--  bg-yellow-100 text-yellow-600 border-yellow-300 -->

  <%= content_tag :div, message,
                  class: "absolute max-w-xs mx-auto border rounded-lg
                    p-2 inset-x-0 top-0 mt-16 md:mt-4
                    bg-#{color}-100 text-#{color}-600 border-#{color}-300
                    " %>
<% end %>

<div class="snake-border rounded px-4 py-12 md:py-20 md:px-24 max-w-6xl mx-auto">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <h1 class="text-gray-100 text-6xl leading-none">Life on Peaceful</h1>
  <h2 class="text-gray-300 text-2xl leading-none py-16">A personal website</h2>

  <nav>
    <ul>

      <li class="inline-flex">
        <%= link_to "Latest", latest_path,
                    class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
      </li>

      <li class="inline-flex">
        <%= link_to "Posts", posts_path,
                    class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
      </li>

      <li class="inline-flex">
        <%= link_to "Quotes", quotes_path,
                    class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
      </li>

      <li class="inline-flex">
        <%= link_to "Resources", resources_path,
                    class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
      </li>

      <li class="inline-flex">
        <%= link_to "Resume", resume_path,
                    class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
      </li>

      <li class="inline-flex">
        <%= link_to "Index", index_path,
                    class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
      </li>

      <li class="fixed top-0 right-0">
        <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: :delete,
                      class: "font-semibold  text-blue-900 no-underline
                        opacity-50 bg-gray-200 pl-4 pr-3 pt-2 pb-3
                        hover:opacity-100 hover:underline" %>
        <% else %>
          <%= link_to "Private access", login_path,
                      class: "font-semibold text-transparent no-underline
                        pl-4 pr-3 pt-2 pb-3
                        hover:bg-gray-700 hover:text-gray-100" %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>

</body>