<% provide(:title, '') %>

<body class="w-screen h-screen flex flex-col justify-center px-4"
      style="background: rgb(26,32,44);
          background: linear-gradient(90deg, rgba(26,32,44,1) 0%, rgba(190,227,248,1) 100%);">

  <h1 class="text-gray-100 text-6xl leading-none">Life on Peaceful</h1>
  <h2 class="text-gray-300 text-2xl leading-none py-16">A personal website</h2>

    <nav>
      <ul>

        <li class="inline-flex">
          <%= link_to "Posts", posts_path,
                      class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
        </li>

        <li class="inline-flex">
          <%= link_to "Quotes", quotes_path,
                      class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
        </li>

        <li class="inline-flex">
          <%= link_to "Resources", resources_path,
                      class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
        </li>

        <li class="inline-flex">
          <%= link_to "Resume", resume_path,
                      class: "mx-3 text-xl hover-underline-animation
                       text-gray-300 font-semibold
                       no-underline py-4 lg:py-2 leading-none" %>
        </li>

        <li class="fixed top-0 right-0">
          <% if logged_in? %>
            <%= link_to "Log out", logout_path, method: :delete,
                        class: "font-semibold  text-blue-900 no-underline
                        opacity-50 bg-gray-200 pl-4 pr-3 pt-2 pb-3
                        hover:opacity-100 hover:underline" %>
          <% else %>
            <%= link_to "Private access", login_path,
                        class: "font-semibold text-transparent no-underline
                        pl-4 pr-3 pt-2 pb-3
                        hover:bg-gray-700 hover:text-gray-100" %>
          <% end %>
        </li>
      </ul>
    </nav>

</body>