<% provide(:title,'') %>

<body class="h-full">
<main class=" w-full max-w-full h-full m-0 p-0 flex flex-col justify-center" style="background: rgb(26,32,44);
    background: linear-gradient(90deg, rgba(26,32,44,1) 0%, rgba(190,227,248,1) 100%);">

  <hgroup class="mx-auto">
    <h1 class="text-gray-100 text-6xl leading-loose" >Life on Peaceful</h1>
    <h2 class="text-gray-300 text-2xl leading-normal">A personal blog | pet-project | life experiment</h2>
  </hgroup>

  <header class="w-full max-w-md mx-auto mb-24 text-lg">
    <nav class="w-full z-10 text-left">
      <ul class="mx-auto w-full text-center flex justify-around flex-col sm:flex-row">

        <li class="list-none inline-block">
          <%= link_to "Posts", posts_path,
                      class: "px-3 text-xl hover-underline-animation text-gray-300 hover:text-gray-100 font-semibold no-underline py-4 lg:py-2 leading-none" %>
        </li>

        <li class="list-none inline-block">
          <%= link_to "Quotes", quotes_path,
                      class: "px-3 text-xl hover-underline-animation text-gray-300 hover:text-gray-100 font-semibold no-underline py-4 lg:py-2 leading-none" %>
        </li>

        <li class="list-none inline-block">
          <%= link_to "Resources", resources_path,
                      class: "px-3 text-xl hover-underline-animation text-gray-300 hover:text-gray-100 font-semibold no-underline py-4 lg:py-2 leading-none" %>
        </li>

        <li class="list-none inline-block">
          <%= link_to "Resume", about_path,
                      class: "px-3 text-xl hover-underline-animation text-gray-300 hover:text-gray-100 font-semibold no-underline py-4 lg:py-2 leading-none" %>
        </li>

        <li class="fixed top-0 right-0 list-none ">
          <% if logged_in? %>

            <%= link_to "Log out", logout_path, method: :delete,
                        class: "text-blue-900 opacity-50 no-underline bg-gray-200 rounded-bl-lg
                    pl-4 pr-3 pt-2 pb-3 font-semibold hover:opacity-100 hover:underline shadow" %>
          <% else %>
            <%= link_to "Private access", login_path,
                        class: "text-transparent no-underline hover:bg-gray-700 rounded-bl-lg
                    pl-4 pr-3 pt-2 pb-3 hover:text-gray-100 font-semibold" %>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>

</main>
</body>