<%= form_with(model: @quote, class: "px-8 pt-3 pb-8 text-left text-blue-900 ") do |form| %>

  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
        <% @quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :title, placeholder: :title, required: "required",
                      class: "rounded bg-white -ml-2
                      font-semibold text-blue-900 text-2xl w-full
                       leading-none placeholder-gray-500 p-2
                       " %>

  <div class="mx-auto mt-4 mb-2 text-center">
    <%= form.text_area :body, placeholder: :quote, required: "required",
                       class: "w-4/5 mx-auto mb-2 bg-indigo-100 text-blue-900
                       placeholder-gray-600 text-center
                       rounded shadow font-serif p-6 text-lg h-auto" %>

    <div class="mx-auto flex justify-center leading-none">
      <span class="my-auto mr-1">-</span>
        <%= form.text_field :author, placeholder: :author, required: "required",
                            class: "w-3/12 bg-white text-blue-900
                           py-1 px-2 rounded " %>
      <span class="mx-1 my-auto">, in </span>
        <%= form.text_field :source, placeholder: :source,
                            class: "w-5/12 bg-white text-blue-900
                           py-1 px-2 rounded italic" %>
    </div>
  </div>

  <%= form.label(:tag_list, "Tags", class: "block text-sm text-blue-900 font-bold") %>
  <%= form.text_field :tag_list, value: @quote.form_tags, class: " w-full bg-gray-200 text-blue-900 focus:bg-white py-1 px-2 rounded mb-4 border-gray-200 border-2" %>

  <details>
    <summary class="text-sm text-blue-900 font-bold">
      Commentary
    </summary>
    <%= form.text_area :commentary, class: " w-full bg-gray-200 text-blue-900 focus:bg-white py-1 px-2 rounded border-gray-200 border-2" %>
  </details>

  <div class="flex mt-2">
    <%= form.label(:public,
                   class: "inline-block text-sm text-blue-900 font-bold text-left my-auto
                  ") %>
    <%= form.check_box :public, class: "m-2" %>
  </div>

  <div class="text-center">
    <%= form.submit yield(:button_text),
                    class: 'text-gray-600 cursor-pointer
                  text-sm uppercase font-bold
                  mt-2 py-2 px-4 bg-white
                  rounded border border-gray-400 shadow
                  hover:bg-indigo-100 hover:text-blue-600 hover:border-blue-400
                  focus:outline-none focus:shadow-outline' %>
  </div>
<% end %>
