<%= form_with(model: @quote,
              class: "px-8 pt-4 pb-4 text-left w-10/12 mx-auto") do |form| %>

  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this
        quote from being saved:</h2>
      <ul>
        <% @quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label(:title, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :title, required: "required",
                      class: "w-full form-input" %>

  <%= form.label(:body, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_area :body, required: "required",
                     class: "w-full form-input" %>

  <%= form.label(:author, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :author, placeholder: :author, required: "required",
                      class: "w-full form-input" %>

  <%= form.label(:source, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :source, placeholder: :source,
                      class: "w-full form-input" %>

  <%= form.label(:tag_list, "Tags", class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :tag_list, value: @quote.tag_list.join(", "),
                      class: "w-full form-input" %>

  <%= form.label(:commentary, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_area :commentary, class: " w-full form-input" %>

  <div class="flex mt-2">
    <%= form.label(:public,
                   class: "inline-block font-bold text-left my-auto
                  ") %>
    <%= form.check_box :public, class: "m-2" %>
  </div>

  <div class="text-center">
    <%= form.submit yield(:button_text),
                    class: 'main-button' %>
  </div>
<% end %>
