<%= form_with(model: @quote,
              class: "px-8 pt-4 pb-4 text-left w-10/12 mx-auto") do |form| %>

  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this
        quote from being saved:</h2>
      <ul>
        <% @quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :title, placeholder: :title, required: "required",
                      class: "form-input w-full" %>

  <div class="mx-auto mt-4 mb-2 text-center">
    <%= form.text_area :body, placeholder: :quote, required: "required",
                       class: "w-4/5 form-input" %>

    <div class="mx-auto flex justify-center leading-none">
      <span class="my-auto mr-1">-</span>
        <%= form.text_field :author, placeholder: :author, required: "required",
                            class: "w-3/12 form-input" %>
      <span class="mx-1 my-auto">, in </span>
        <%= form.text_field :source, placeholder: :source,
                            class: "w-5/12 form-input" %>
    </div>
  </div>

  <%= form.label(:tag_list, "Tags", class: "block text-sm text-blue-900 font-bold") %>
  <%= form.text_field :tag_list, value: @quote.tag_list.join(", "),
                      class: " w-full form-input" %>

  <details>
    <summary class="text-sm text-blue-900 font-bold">
      Commentary
    </summary>
    <%= form.text_area :commentary, class: " w-full form-input" %>
  </details>

  <div class="flex mt-2">
    <%= form.label(:public,
                   class: "inline-block text-sm text-blue-900 font-bold text-left my-auto
                  ") %>
    <%= form.check_box :public, class: "m-2" %>
  </div>

  <div class="text-center">
    <%= form.submit yield(:button_text),
                    class: 'main-button' %>
  </div>
<% end %>
