<li id="<%= quote.id %>" class="list-none">
  <article class="max-w-full px-0 pt-2 pb-2 m-0 border-b border-gray-500">

    <div class="flex">
        <%= render "shared/action_links", content: quote %>
    </div>

    <blockquote class="p-0">
      <p class="w-full font-serif p-0 mx-0 my-2 leading-tight">
        "<%=raw quote.body %>"
      </p>
      <footer class="p-0 font-bold text-sm leading-none"> &#8213; <%= quote.author %>, in <cite> <%= quote.source %></cite></footer>
    </blockquote>

    <% unless quote.tag_list.nil? %>
      <ul class="my-1">
        <span class="text-xs inline">tags: </span>
        <% quote.tag_list.each do |tag| %>
          <li class="list-none inline ">
          <%= link_to "#{tag}", "/quotes?tag=#{tag}", title: "All #{tag} quotes",
                      class: " text-xs text-blue-700 mt-1
         hover:underline hover:text-blue-800" %>,
          </li>
        <% end %>
      </ul>
    <% end %>

  </article>
</li>