<li class="list-none">
  <article class="my-3 pb-6 border-b border-gray-400">

    <% if admin? %>
    <div class="flex pt-3">
        <%= tag.h1 quote.title,
                   class: "text-xl mr-auto leading-none inline-block mt-auto" %>
      <%= render "shared/action_links", content: quote %>
    </div>
    <% end %>

    <blockquote class="my-3 pt-3">
      <p class="font-serif leading-tight text-lg">
        “<%= raw quote.body %>”
      </p>
      <footer class="mt-3 font-bold leading-none">
        &#8213; <%= quote.author %>, in <cite> <%= quote.source %></cite>
      </footer>
    </blockquote>

    <%= render "shared/tag_list", content: quote %>

  </article>
</li>