<% provide(:title, 'Quotes') %>
<% provide(:button_text, 'Create') %>

<main>
  <hgroup class="pb-0"><h1>Quotes</h1></hgroup>

  <%= form_with url: quotes_path, method: :get, local: true,
                class: "max-w-xs mx-auto my-4 rounded-lg
                bg-white shadow flex border border-gray-400" do |form| %>
    <%= form.search_field :q, placeholder: 'Search quotes',
                          title: 'Input to search quotes',
                          style: "margin-right: 0.15rem;",
                          class: "text-blue-900 flex-grow rounded-l-lg py-1 px-3
                           focus:outline-none focus:shadow-outline" %>
    <%= form.submit "\u{1F50E}", name: nil, title: 'Search quotes',
                    class: 'cursor-pointer bg-white text-lg
                    border-gray-400 border-l rounded-r-lg py-1 px-3
                    hover:bg-gray-200 hover:text-blue-900
                    focus:outline-none focus:shadow-outline ' %>
  <% end %>

  <%= will_paginate %>
  <ul class="quotes">
    <% if admin? %>
      <details class="max-w-xl mx-auto my-2 bg-white
      border border-gray-400 rounded-lg shadow">
        <summary class="px-3 py-3 text-sm font-bold text-gray-600
         rounded-t-lg cursor-pointer text-left hover:bg-gray-200 hover:text-blue-900">
          New Quote
        </summary>
        <%= render 'form' %>
      </details>
    <% end %>
    <%= render @quotes %>
  </ul>
  <%= will_paginate %>
  <%= page_entries_info @quotes %>
  <%= link_to "\u{2B07} Export quotes \u{2B07}",
              "quotes/export?#{URI(request.original_url).query}",
              title: "Download as JSON",
              target: '_blank',
              class: "block text-sm"
  %>
  <% if admin? %>
    <details title="Upload as JSON">
      <summary class="pr-5 text-sm text-gray-900 underline"> <%= "\u{2B06} Import quotes \u{2B06}" %> </summary>
      <%= form_with url: quotes_import_path, method: :post, multipart: true,
                    class: "bg-white rounded shadow max-w-sm p-2 my-2 mx-auto" do |f| %>
        <%= f.file_field :json %>
        <%= f.submit "import", name: nil,
                     class: 'inline-block bg-gray-600 uppercase text-xs text-white cursor-pointer
                    hover:bg-blue-900 font-bold py-1 px-2 rounded focus:outline-none
                    focus:shadow-outline' %>
      <% end %>
    </details>
  <% end %>
</main>