<% provide(:title, 'Quotes') %>
<% provide(:button_text, 'Create') %>

<div class="flex">
  <main class="max-w-2xl flex-grow ml-48 mr-12 bg-transparent text-left shadow-none border-0">
    <hgroup class="pb-0"><h1>Quotes</h1></hgroup>

    <%= render 'shared/search_bar', model: :quotes %>

    <span class="text-sm"> <%= page_entries_info @quotes, model: 'quote', html: false %> </span>

    <%= will_paginate %>
    <ul class="quotes">
      <%= render 'shared/new_content', model: 'quote' %>
      <%= render @quotes %>
    </ul>
    <%= will_paginate %>
    <%= render 'shared/import_export', model: :quotes %>
  </main>

  <%= render 'shared/tag_browsing' %>

</div>