<% provide(:title, 'Quotes') %>
<% provide(:button_text, 'Create') %>

<div class="flex">
<main class="max-w-4xl flex-grow ml-48 mr-12 bg-transparent text-left shadow-none border-0">
  <hgroup class="pb-0"><h1>Quotes</h1></hgroup>

  <%= render 'shared/search_bar', model: :quotes %>

  <span class="text-sm"> <%= page_entries_info @quotes, model:'quote', html:false%> </span>

  <%= will_paginate %>
  <ul class="quotes">
    <%= render 'shared/new_content', model:'quote' %>
    <%= render @quotes %>
  </ul>
  <%= will_paginate %>
  <%= link_to "\u{2B07} Export quotes \u{2B07}",
              "quotes/export?#{URI(request.original_url).query}",
              title: "Download as JSON",
              target: '_blank',
              class: "block text-sm"
  %>
  <% if admin? %>
    <details title="Upload as JSON">
      <summary class="pr-5 text-sm text-gray-900 underline"> <%= "\u{2B06} Import quotes \u{2B06}" %> </summary>
      <%= form_with url: quotes_import_path, method: :post, multipart: true,
                    class: "bg-white rounded shadow max-w-sm p-2 my-2 mx-auto" do |f| %>
        <%= f.file_field :json %>
        <%= f.submit "import", name: nil,
                     class: 'inline-block bg-gray-600 uppercase text-xs text-white cursor-pointer
                    hover:bg-blue-900 font-bold py-1 px-2 rounded focus:outline-none
                    focus:shadow-outline' %>
      <% end %>
    </details>
  <% end %>
</main>

  <aside class="mt-48 max-w-sm mr-12 w-full text-left ">
    <h1 class="text-sm font-bold uppercase
     tracking-wide border-b border-gray-500 w-full">Browse by tag </h1>
    <ul class="mt-4 flex flex-wrap">
      <% @tags.each do |tag| %>
        <li class="list-none w-1/3">
          <%= link_to "#{tag}", "/quotes?tag=#{tag}", title: "All #{tag} quotes",
                      class: "no-underline text-xs text-blue-800 mt-1
         hover:underline hover:text-blue-900 px-1 mx-1" %>
        </li>
      <% end %>
    </ul>
  </aside>

</div>