<% provide(:title, 'Quotes') %>
<% provide(:button_text, 'Create') %>

<main class="main-content flex-shrink-0 text-left lg:pl-12">
  <h1>Quotes</h1>

  <%= render 'shared/new_content' %>
  <%= render 'shared/search_bar' %>

  <span class="text-sm">
      <%= page_entries_info model: 'quote' %>
    <%= raw search_result_message %>
    </span>

  <%= will_paginate %>
  <ul class="quotes">
    <%= render @quotes %>
  </ul>
  <%= will_paginate %>
  <%= render 'shared/import_export' %>
</main>

<%= render 'shared/tag_browsing', tags: @tags %>