<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quote.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quote.author %>
</p>

<p>
  <strong>Source:</strong>
  <%= @quote.source %>
</p>

<p>
  <strong>Commentary:</strong>
  <%= @quote.commentary %>
</p>

<p>
  <strong>Public:</strong>
  <%= @quote.public %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
