<% provide(:title, "Private Access") %>

<main>
  <hgroup>
    <h1>Private Access</h1>
  </hgroup>

  <section class="max-w-xs mx-auto bg-white shadow border border-gray-400 rounded-lg px-6 py-4 text-left">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :name, class: "block font-bold mb-2 mt-3 leading-none" %>
      <%= f.text_field :name, class: "shadow-inner border border-gray-400 rounded w-full py-2 px-3 leading-tight" %>
      <%= f.label :password, class: "block font-bold mb-2 mt-6 leading-none" %>
      <%= f.password_field :password, class: "shadow-inner border border-gray-400 rounded w-full py-2 px-3 mb-3 leading-tight" %>
      <%= f.submit "Sign in", class: 'text-gray-600 cursor-pointer
                  text-sm uppercase font-bold
                  mt-4 mb-4 py-2 px-4 bg-white w-full
                  rounded border border-gray-400 shadow
                  hover:bg-indigo-100 hover:text-blue-600 hover:border-blue-400
                  focus:outline-none focus:shadow-outline' %>
    <% end %>
    <span class="text-sm">Want a private access ? Hack me !</span>
  </section>

</main>
