<% provide(:title, "Private Access") %>

<main class="main-content">
  <h1 class="text-center">Private Access</h1>

  <section class="mt-12 max-w-xs mx-auto bg-primary border border-primary hover:border-secondary rounded-lg px-10 pt-6 pb-8 text-left">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :name, class: "block font-bold mb-2 mt-3 leading-none" %>
      <%= f.text_field :name, class: "form-input leading-tight w-full px-3 py-2 mb-3" %>
      <%= f.label :password, class: "block font-bold mb-2 mt-6 leading-none" %>
      <%= f.password_field :password, class: "form-input w-full leading-tight px-3 py-2 mb-3" %>
      <%= f.submit "Sign in", class: 'main-button w-full my-4' %>
    <% end %>
    <span class="text-sm">Want a private access ? Hack me !</span>
  </section>

</main>
