<li id="<%= quote.id %>">
  <article class="mx-auto max-w-2xl w-full">
    <h4><%= quote.title %>></h4>
    <blockquote>
      <p><%= quote.body %>></p>
      <footer>-<%= quote.author %> <cite> <%= quote.source %></cite></footer>
    </blockquote>
  </article>
</li>