<li id="<%= quote.id %>" class="list-none">
  <article>
    <h4><%= quote.title %></h4>
    <blockquote>
      <p><%= quote.body %></p>
      <footer>-<%= quote.author %>, in <cite> <%= quote.source %></cite></footer>
    </blockquote>
    <span class="timestamp text-right text-sm">
      Posted on <%= time_tag(quote.created_at) %>.
    </span>
  </article>
</li>