<% if comment.public? or admin? %>
  <li id="<%= comment.id %>" class="list-none">
    <article class="my-3 pb-6 px-4 border-b border-gray-400 text-left">

      <div class="flex">
        <span class="text-lg font-bold mt-auto">
          <%= comment.name.blank? ? "Anonymous" : comment.name %>
          <% unless comment.created_at.nil? %>
            <span class="font-normal text-xs text-gray-600 ">- <%= comment.created_at.strftime('%B %d, %Y') %></span>
          <% end %>
        </span>

        <% if admin? %>
          <div class="flex flex-grow-0 mb-auto ml-auto">
            <%= form_with model: comment do |form| %>
              <%= form.hidden_field :public, value: !comment.public? ? 1 : 0 %>
              <%= form.submit "#{comment.public? ? "\u{1F441} Hide" : "\u{1F441} Show" }",
                              title: "Make comment #{!comment.public? ? 'public' : 'private'}",
                              class: "leading-none py-2 px-2 mr-2
                      #{comment.public? ? "bg-primary hover:bg-secondary" : "bg-primary hover:bg-secondary"}
                           rounded border border-primary hover:border-secondary
                           focus:outline-none focus:shadow-outline" %>
            <% end %>

            <%= link_to "Delete ", comment, title: "Delete comment", method: :delete, data: {confirm: 'Are you sure?'},
                        class: "leading-none py-2 px-2 my-auto" %>
          </div>
        <% end %>
      </div>

      <p class="block my-3"> <%= comment.body %> </p>
    </article>
  </li>
<% end %>