<% content_for :script do %>
  <%= javascript_pack_tag 'autoresize', defer: "" %>
<% end %>

<article class="my-3 py-4 px-4 border-b border-gray-400">
  <h3> Add a comment </h3>
  <%= form_with(model: comment) do |form| %>
    <div class="flex justify-between text-right mt-4">
    <%= form.label(:name, 'Name :', class: "w-1/5 mr-2 mb-auto mt-1") %>
    <%= form.text_field :name, placeholder: '(Optional)',
                        class: "form-input w-full placeholder-gray-600" %>
    </div>
    <%= hidden_field_tag(:post_id, comment.post.id) %>
    <%= form.hidden_field :public, value: 0 %>

    <div class="flex justify-between text-right mt-2">
    <%= form.label(:body, 'Comment :', class: "w-1/5 mr-2 mb-auto mt-1") %>
    <%= form.text_area :body, placeholder: 'Your comment...', required: "required", rows: 2,
                       class: "w-full form-input resize-none placeholder-gray-600" %>
    </div>
    <%= form.submit 'Comment', class: 'ml-auto block main-button' %>
  <% end %>


</article>