<div>
<%= link_to "Export as JSON",
            "#{controller_name}/export?#{URI(request.original_url).query}",
            target: '_blank',
            class: "block text-sm mx-auto text-center max-w-xs mt-6"
%>
<% if admin? %>
  <%= form_with url: send("#{controller_name}_import_path"), method: :post, multipart: true,
                class: "text-center bg-primary border border-primary rounded-lg max-w-sm px-2 pt-4 pb-4 my-3 mx-auto" do |f| %>
    <%= f.label(:import, "Import #{controller_name}", class: "block test-sm p-2 font-bold mb-2") %>
    <%= f.file_field :json, id: 'import', required: 'required', class: 'mx-auto' %>
    <%= f.submit "Import", name: nil,
                 class: 'block mx-auto main-button' %>
  <% end %>
<% end %>
</div>