<li id="<%= tika.id %>" class="list-none ml-1">
  <details class="tika_details ml-4 pt-2 border-l-2 border-blue-900 ">
    <summary class="tika_summary px-1 relative flex justify-start leading-none pb-2">

      <h3 class="mx-3 leading-none inline-block my-auto capitalize text-default">
        <% if !tika.link.blank? %>
          <%= link_to tika.title, tika.link, title: tika.link,
                      target: '_blank',
                      class: "text-default italic no-underline hover:underline" %>
        <% else %>
          <%= tika.title %>
        <% end %>
      </h3>

      <% unless tika.year.blank? %>
      <span class="text-sm text-gray-default-soft leading-none  my-auto ">
        (<%= tika.year %>)
      </span>
      <% end %>

      <% unless tika.childless? %>
        <div class="ml-2 text-xs p-1 rounded-full cursor-default leading-none
                    border border-primary hover:border-secondary
                    bg-primary hover:bg-secondary">
          <%= "\u{271A}" %>
        </div>
      <% end %>

      <div class="flex flex-grow-0 mb-auto ml-auto">
        <%= link_to "\u{270D}", send("edit_#{tika.model_name.singular}_path", tika),
                    title: "Edit '#{tika.title}'",
                    "data-turbolinks": "false",
                    class: "leading-none text-default-soft px-1 opacity-50 hover:opacity-100" %>

        <%= link_to "\u{1F5D1}", tika, title: "Delete '#{tika.title}'", method: :delete, data: {confirm: 'Are you sure?'},
                    class: "leading-none text-default-soft px-1 opacity-50 hover:opacity-100" %>
      </div>

    </summary>
    <ul class="relative ml-2">
      <%= render tika.children %>
    </ul>
  </details>
</li>