<%= form_with(model: @resource, class: "px-8 pt-4 pb-8 text-left w-10/12 mx-auto") do |form| %>

  <%= form.label(:title, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :title, required: "required",
                      class: "w-full bg-gray-200 text-blue-900
                      focus:bg-white py-1 px-2 rounded mb-4 mt-1
                      shadow-inner border-gray-400 border" %>

  <div class="flex justify-between">
    <div class="w-6/12">
      <%= form.label(:author, class: "block font-bold mb-2 mt-3 leading-none") %>
      <%= form.text_field :author, required: "required",
                          class: "w-full bg-gray-200 text-blue-900
                          focus:bg-white py-1 px-2 rounded mb-4
                          shadow-inner border-gray-400 border" %>
    </div>
    <div class="w-5/12">
      <%= form.label(:publication, class: "block font-bold mb-2 mt-3 leading-none") %>
      <%= form.date_field :publication,
                          class: "w-full bg-gray-200 text-blue-900
                          focus:bg-white py-1 px-2 rounded mb-4
                          shadow-inner border-gray-400 border" %>
    </div>
  </div>

  <%= form.label(:link, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.url_field :link,
                     class: "w-full bg-gray-200 text-blue-900
                     focus:bg-white py-1 px-2 rounded mb-4
                     shadow-inner border-gray-400 border" %>

  <%= form.label(:tag_list, "Tags", class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :tag_list, value: @resource.form_tags,
                      class: "w-full bg-gray-200 text-blue-900
                      focus:bg-white py-1 px-2 rounded mb-4
                      shadow-inner border-gray-400 border" %>

  <%= form.label(:description, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_area :description,
                     class: "w-full bg-gray-200 text-blue-900
                     focus:bg-white py-1 px-2 rounded mb-4
                     shadow-inner border-gray-400 border" %>

  <div class="flex mt-2">
    <%= form.label(:public,
                   class: "block font-bold mb-2 mt-3 leading-none") %>
    <%= form.check_box :public, class: "m-2" %>
  </div>

  <div class="text-center">
    <%= form.submit yield(:button_text),
                    class: 'text-gray-600 cursor-pointer
                  text-sm uppercase font-bold
                  mt-2 py-2 px-4 bg-white
                  rounded border border-gray-400 shadow
                  hover:bg-indigo-100 hover:text-blue-600 hover:border-blue-400
                  focus:outline-none focus:shadow-outline' %>
  </div>
<% end %>