<%= form_with(model: @resource,
              class: "px-8 pt-4 pb-4 text-left w-10/12 mx-auto") do |form| %>

  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this
        resource from being saved:</h2>
      <ul>
        <% @resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label(:title, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :title, required: "required",
                      class: "w-full form-input" %>

  <div class="flex justify-between">
    <div class="w-6/12">
      <%= form.label(:author, class: "block font-bold mb-2 mt-3 leading-none") %>
      <%= form.text_field :author, required: "required",
                          class: "w-full form-input" %>
    </div>
    <div class="w-5/12">
      <%= form.label(:publication, class: "block font-bold mb-2 mt-3 leading-none") %>
      <%= form.date_field :publication,
                          class: "w-full form-input" %>
    </div>
  </div>

  <%= form.label(:link, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.url_field :link,
                     class: "w-full form-input" %>

  <%= form.label(:tag_list, "Tags", class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :tag_list, value: @resource.tag_list.join(", "),
                      class: "w-full form-input" %>

  <%= form.label(:description, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_area :description,
                     class: "w-full form-input" %>

  <div class="flex mt-2">
    <%= form.label(:public,
                   class: "block font-bold mb-2 mt-3 leading-none") %>
    <%= form.check_box :public, class: "m-2" %>
  </div>

  <div class="text-center">
    <%= form.submit yield(:button_text),
                    class: 'main-button' %>
  </div>
<% end %>