<li id="<%= resource.id %>" class="list-none">
  <article>
    <%= link_to resource.title, resource.link %>
    <cite> by <%= resource.author %>
      <% unless resource.publication.nil? %>
        on <%= time_tag(resource.publication) %>
      <% end %>
    </cite>

    <% unless resource.tag_list.nil? %>
    <div class="mt-1">
      <% resource.tag_list.each do |tag| %>
        <%= link_to "##{tag}", "#", class: "no-underline text-xs uppercase px-2 py-1 m-1 bg-gray-100
         border-gray-500 text-gray-500 rounded shadow font-semibold
         hover:bg-gray-300 hover:text-blue-900" %>
      <% end %>
    </div>
    <% end %>
    <!--    <p> <%#= resource.description %> </p>-->
  </article>
</li>