<li id="<%= resource.id %>" class="list-none">
  <article class="my-3 pb-6 border-b border-gray-400">

    <div class="flex pt-3">
      <%= link_to resource.title, resource.link, title: resource.link,
                  target: '_blank',
                  class: "text-2xl mr-auto leading-tight inline-block mt-auto" %>

      <%= render "shared/action_links", content: resource %>
    </div>

    <cite class="block my-2 font-bold leading-none"> &#8213; <%= resource.author %>
      <% unless resource.publication.nil? %>
        on <%= time_tag(resource.publication) %>
      <% end %>
    </cite>

    <% unless resource.description.blank? %>
      <p class="my-3"> <%= resource.description %> </p>
    <% end %>

    <div class="flex mt-3 justify-end">
      <%= render "shared/tag_list", content: resource %>

      <span class="text-xs text-default-soft w-auto leading-none mt-auto">
        Read in <%= resource.created_at.strftime("%B %Y") %>.
      </span>
    </div>
  </article>
</li>