<% provide(:title, 'Resources') %>
<% provide(:button_text, 'Create') %>

<div class="flex flex-col justify-around max-w-full px-4 pb-6 mx-auto xl:flex-row">
  <main class="w-full max-w-2xl pb-8 mx-auto mt-12 text-left bg-transparent border-0 shadow-none xl:mt-6 xl:pl-20 2xl:pl-0">
    <h1>Resources</h1>

    <%= render 'shared/search_bar' %>

    <span class="text-sm">
      <%= page_entries_info @resources, model: 'resource' %>
    </span>

    <%= will_paginate %>
    <ul class="resources">
      <%= render 'shared/new_content' %>
      <%= render @resources %>
    </ul>
    <%= will_paginate %>
    <%= render 'shared/import_export' %>
  </main>

  <%= render 'shared/tag_browsing', tags: @tags %>

</div>