<% provide(:title, 'Resources') %>
<% provide(:button_text, 'Create') %>

<div class="flex">
  <main class="max-w-2xl flex-grow ml-48 mr-12 bg-transparent text-left shadow-none border-0">
    <hgroup class="pb-0"><h1>Resources</h1></hgroup>

    <%= render 'shared/search_bar', model: :resources %>

    <span class="text-sm"> <%= page_entries_info @resources, model: 'resource', html: false %> </span>

    <%= will_paginate %>
    <ul class="resources">
      <%= render 'shared/new_content', model: 'resource' %>
      <%= render @resources %>
    </ul>
    <%= will_paginate %>
    <%= render 'shared/import_export', model: :resources %>
  </main>

  <%= render 'shared/tag_browsing' %>

</div>