<% provide(:title, 'Resources') %>
<% provide(:button_text, 'Create') %>

<main>
  <hgroup class="pb-0"><h1>Resources</h1></hgroup>

  <%= will_paginate %>
  <ul class="resources">
  <details class="mx-auto max-w-xl text -left my-4 rounded bg-white shadow">
    <summary class ="uppercase tracking-wide text-sm text-gray-500 font-semibold px-3 py-3
    hover:bg-gray-300 hover:text-blue-900 cursor-pointer rounded-t"> New Resource </summary>
    <%= render 'form' %>
  </details>
    <%= render @resources %>
  </ul>
  <%= will_paginate %>
  <%= page_entries_info @resources %>
</main>