<%= form_with(model: @post, local: true,
              class: "px-8 pt-4 pb-4 text-left w-10/12 mx-auto") do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this
        post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.label(:title, class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :title, required: "required",
                      class: "w-full form-input" %>

    <%= form.label :body, class: "block font-bold mb-2 mt-3 leading-none" %>
    <%= form.rich_text_area :body,
                            class: "w-full form-input" %>

  <%= form.label :summary, class: "block font-bold mb-2 mt-3 leading-none" %>
  <%= form.text_area :summary,
                     class: "w-full form-input" %>


  <%= form.label(:tag_list, "Tags", class: "block font-bold mb-2 mt-3 leading-none") %>
  <%= form.text_field :tag_list, value: @post.tag_list.join(", "),
                      class: "w-full form-input" %>

  <div class="flex mt-2">
    <%= form.label(:public,
                   class: "block font-bold mb-2 mt-3 leading-none") %>
    <%= form.check_box :public, class: "m-2" %>
  </div>

  <div class="text-center">
    <%= form.submit yield(:button_text),
                    class: 'main-button' %>
  </div>
<% end %>
