<li id="<%= post.id %>" class="list-none">
  <article class="my-3 pb-6 border-b border-gray-400 text-left">

    <div class="flex pt-3">
      <% if action_name == 'show' %>
        <%= tag.h1 post.title, class: "mr-auto leading-tight inline-block mt-auto" %>
      <% else %>
        <%= link_to post.title, post_path(post), title: post_path(post),
                    class: "text-2xl mr-auto leading-tight inline-block mt-auto
                  text-blue-700 no-underline hover:underline" %>

      <% end %>
      <%= render "shared/action_links", content: post %>
    </div>

    <span class="block text-right text-xs">
      <%= time_tag(post.created_at, format: "%B %d, %Y") %> -
      <%= "#{((post.body.to_s.split.count)./ 250.0).ceil} minutes read" %>
    </span>
    <% if controller.action_name == 'show' %>
      <div class="my-2 text-lg">
        <%= post.body %>
      </div>
    <% else %>
      <p class="my-2">
        <%= post.summary %>
      </p>
    <% end %>

    <div class="flex mt-3 justify-end">
      <%= render "shared/tag_list", content: post %>

      <span class="text-xs text-gray-600 w-auto leading-none mt-auto">
        Last update on <%= time_tag(post.created_at, format: "%B %d, %Y") %>.
      </span>
    </div>
  </article>

  <% if action_name == 'show' %>
    <section class="mt-12">
      <h2 class="uppercase font-bold text-blue-900 mt-3 py-2"> Comments</h2>

      <%= render "comments/form", comment: post.comments.build %>
      <ol>
        <% post.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      </ol>
    </section>
  <% end %>
</li>