<% provide(:title, 'Posts') %>
<% provide(:button_text, 'Create') %>

<main class="mt-12 lg:mt-6 pb-8 w-full max-w-2xl mx-auto w-full px-4 bg-transparent text-left shadow-none border-0">
  <hgroup class="pb-0"><h1>Posts</h1></hgroup>

  <div class="max-w-xl mx-auto">
  <%= render 'shared/search_bar', model: :posts %>

  <%= will_paginate %>
  <%= render 'shared/new_content', model: 'post' %>
  </div>
  <ul class="posts mt-8">
    <%= render @posts %>
  </ul>
  <%= will_paginate %>
  <%= page_entries_info @posts %>
  <%= render 'shared/import_export', model: :posts %>

</main>