<% provide(:title, 'Posts') %>
<% provide(:button_text, 'Create') %>

<main>
  <hgroup class="pb-0"><h1 class="leading-none">Posts</h1></hgroup>

  <%= render 'shared/search_bar', model: :posts %>

  <%= will_paginate %>
  <%= render 'shared/new_content', model: 'post' %>
  <ul class="posts mt-8">
    <%= render @posts %>
  </ul>
  <%= will_paginate %>
  <%= page_entries_info @posts %>
  <%= render 'shared/import_export', model: :posts %>

</main>