<header class="fixed w-full lg:w-auto lg:inset-y-0 top-0 lg:flex lg:justify-center flex-col ">
  <nav class="shadow-lg w-full bg-gray-800 lg:rounded-r-lg z-10 text-left">
    <ul class="p-0 flex lg:flex-col justify-center flex-row">
      <li class="list-none hover:bg-gray-700 lg:rounded-tr-lg inline-block">
        <%= link_to "Home", root_path,
                    class: "text-gray-100 font-semibold no-underline py-3 px-4 lg:pt-4 lg:pb-2 lg:block" %>
      </li>

      <li class="list-none hover:bg-gray-700 inline-block">
        <%= link_to "About", about_path,
                    class: "text-gray-100 font-semibold no-underline py-3 px-4 lg:py-2 lg:block" %>
      </li>

      <li class="list-none hover:bg-gray-700 inline-block">
        <%= link_to "Resources", resources_path,
                    class: "text-gray-100 font-semibold no-underline py-3 px-4 lg:py-2 lg:block" %>
      </li>

      <li class="list-none hover:bg-gray-700 inline-block">
        <%= link_to "Posts", posts_path,
                    class: "text-gray-100 font-semibold no-underline py-3 px-4 lg:py-2 lg:block" %>
      </li>

      <li class="list-none hover:bg-gray-700 lg:rounded-br-lg inline-block">
        <%= link_to "Quotes", quotes_path,
                    class: "text-gray-100 font-semibold no-underline py-3 px-4 lg:pb-4 lg:pt-2 lg:block" %>
      </li>

      <li class="fixed top-0 right-0 list-none ">
        <% if logged_in? %>

          <%= link_to "Log out", logout_path, method: :delete,
                      class: "text-blue-900 opacity-50 no-underline bg-gray-200 rounded-bl-lg
                    pl-4 pr-3 pt-2 pb-3 font-semibold hover:opacity-100 hover:underline shadow" %>
        <% else %>
          <%= link_to "Private access", login_path,
                      class: "text-transparent no-underline hover:bg-gray-700 rounded-bl-lg
                    pl-4 pr-3 pt-2 pb-3 hover:text-gray-100 font-semibold" %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>