<!DOCTYPE html>
<html lang="en" class="text-center text-gray-800 bg-gray-300"
      style="font-family: Arial, sans-serif">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="description" content="The personal website - blog - journal of someone.
   Running on Ruby on Rails and TailwindCSS">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: "" %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/header' %>

<% flash.each do |message_type, message| %>
  <% case message_type
     when 'danger' then color = 'red'
     when 'success' then color = 'green'
     else color = 'yellow'
     end %>

  <%= content_tag :div, message,
                  class: "absolute max-w-xs mx-auto border rounded-lg
                  p-2 inset-x-0 top-0 mt-16 md:mt-4
                  bg-#{color}-100 text-#{color}-600 border-#{color}-300
                  " %>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
