<!DOCTYPE html>
<html lang="en" class="text-gray-800 text-center bg-gray-300" style="font-family: 'Fira Code',Verdana, Arial, sans-serif">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/header' %>

<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "text-red-700 border border-red-300 rounded bg-red-100 mx-auto w-2/5 opacity-75") %>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
