<!DOCTYPE html>
<html lang="en" class="text-center text-gray-800 bg-gray-100 text-base xl:text-xl h-full"
      style="font-family: Arial, sans-serif">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="description" content="The personal website - blog - journal of someone.
   Running on Ruby on Rails and TailwindCSS">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if controller_name == 'posts' and admin? %>
    <%= javascript_packs_with_chunks_tag 'application', 'trix_interface', 'data-turbolinks-track': 'reload', defer: "" %>
    <%= stylesheet_packs_with_chunks_tag 'application', 'trix_interface', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload', defer: "" %>
    <%= stylesheet_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>

<% if yield(:title).blank? %>
  <%= yield %>
<% else %>
  <body>
  <%= render 'layouts/header' %>

  <% flash.each do |message_type, message| %>
    <% case message_type
       when 'danger' then
         color = 'red'
       when 'success' then
         color = 'green'
       else
         color = 'yellow'
       end %>

    <!--  css classes for purgecss -->
    <!--  bg-red-100 text-red-600 border-red-300 -->
    <!--  bg-green-100 text-green-600 border-green-300 -->
    <!--  bg-yellow-100 text-yellow-600 border-yellow-300 -->

    <%= content_tag :div, message,
                    class: "absolute max-w-xs mx-auto border rounded-lg
                  p-2 inset-x-0 top-0 mt-16 md:mt-4
                  bg-#{color}-100 text-#{color}-600 border-#{color}-300
                  " %>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
  </body>
<% end %>

</html>